body {
  background-color: #fafafa;
  color: #111;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-tertiary {
  background-color: #f2f2f2;
}

.card {
  border-radius: 0;
  border: 0;
  transition: box-shadow 0.2s ease-in;
  min-height: 200px;
}

.card-link {
  border-bottom: #111;
}

.big-y-padding {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

@media (min-width: 768px) {
  .big-y-padding {
    padding-top: 180px !important;
    padding-bottom: 180px !important;
  }
}

.card:hover {
  box-shadow: 0 20px 30px 0 rgba(35, 35, 35, 0.2);
}

.image-fit {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
